<div>
  <div class="flex flex-wrap items-center gap-4">
    <h2 class="text-xl">Holiday</h2>

    <a class="btn btn-primary gap-2 add_schedule" (click)="editUser()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-5 w-5"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </a>

    <div
      class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:items-center sm:gap-3 ml-auto"
    >
      <div class="relative">
        <input
          type="text"
          placeholder="Search Holiday"
          class="peer form-input py-2 ltr:pr-11 rtl:pl-11"
          [(ngModel)]="searchUser"
          name="searchUser"
          (ngModelChange)="searchContacts()"
        />
        <div
          class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]"
        >
          <icon-search class="mx-auto" />
        </div>
      </div>
    </div>
  </div>

  <div class="panel mt-5 overflow-hidden border-0 p-0 tablesize">
    <ng-container *ngIf="displayType === 'list'">
      <div class="table-responsive">
        <table class="table-striped table-hover">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Name</th>
              <th>Date</th>
              <th class="!text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let contact of filterdContactsList; let i = index" key="contact.id">
              <tr>
                <td>{{ i + 1 }}</td> <!-- Displays the Sr. No. starting from 1 -->
  
                <td>
                  <div class="flex w-max items-center">
                    <div *ngIf="!contact.path && !contact.name" class="grid h-8 w-8 place-content-center rounded-full border border-gray-300 dark:border-gray-800 ltr:mr-2 rtl:ml-2">
                      <icon-user class="h-4.5 w-4.5"></icon-user>
                    </div>
                    <div>{{ contact.name }}</div>
                  </div>
                </td>
  
                <td>{{ contact.date | date: 'dd MMMM' }}</td>

  
                <td>
                  <div class="flex items-center justify-center gap-4">
                    <a routerlink="/apps/todolist" (click)="editUser(contact)" class="cursor-pointer block rounded-full bg-white-light/40 p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:hover:bg-dark/60">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" d="M22 10.5V12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2H13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M17.3009 2.80624L16.652 3.45506L10.6872 9.41993C10.2832 9.82394 10.0812 10.0259 9.90743 10.2487C9.70249 10.5114 9.52679 10.7957 9.38344 11.0965C9.26191 11.3515 9.17157 11.6225 8.99089 12.1646L8.41242 13.9L8.03811 15.0229C7.9492 15.2897 8.01862 15.5837 8.21744 15.7826C8.41626 15.9814 8.71035 16.0508 8.97709 15.9619L10.1 15.5876L11.8354 15.0091C12.3775 14.8284 12.6485 14.7381 12.9035 14.6166C13.2043 14.4732 13.4886 14.2975 13.7513 14.0926C13.9741 13.9188 14.1761 13.7168 14.5801 13.3128L20.5449 7.34795L21.1938 6.69914C22.2687 5.62415 22.2687 3.88124 21.1938 2.80624C20.1188 1.73125 18.3759 1.73125 17.3009 2.80624Z" stroke="currentColor" stroke-width="1.5"></path>
                        <path opacity="0.5" d="M16.6522 3.45508C16.6522 3.45508 16.7333 4.83381 17.9499 6.05034C19.1664 7.26687 20.5451 7.34797 20.5451 7.34797M10.1002 15.5876L8.4126 13.9" stroke="currentColor" stroke-width="1.5"></path>
                      </svg>
                    </a>
                    <a (click)="deleteUser(contact)" x-tooltip="Delete" class="cursor-pointer">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-danger">
                        <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                        <path d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                        <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                        <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                        <path opacity="0.5" d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke="currentColor" stroke-width="1.5"></path>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
  

  <!--Add Health and Wellness Services modal -->
  <ngx-custom-modal #addContactModal class="no-footer z-40">
    <ng-template #modalHeader>
      <div class="!font-medium">
        {{ params.controls['id'].value ? 'Edit Holiday' : 'Add Holiday' }}
      </div>
    </ng-template>
    <ng-template #modalBody>
      <div class="text-sm text-gray-500 mb-4">
        Fields with <span class="text-red-500">*</span> are mandatory.
      </div>
      <form
        [formGroup]="params"
        class="text-sm"
        (ngSubmit)="saveUser()"
        ngNativeValidate
      >
        <div class="mb-5">
          <label for="name">Name  <span class="text-red-500">*</span></label>
          <input
            id="name"
            type="text"
            placeholder="Enter Name"
            class="form-input"
            formControlName="name"
          />
        </div>
        <div class="mb-5">
          <label for="date">Date  <span class="text-red-500">*</span></label>
          <input
            id="date"
            type="date"
            class="form-input"
            formControlName="date"
          />
        </div>

        <div class="mt-8 flex items-center justify-end">
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="addContactModal.close()"
          >
            Cancel
          </button>
          <!-- <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">
            {{ params.controls['id'].value ? 'Update' : 'Add' }}
          </button> -->

          <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4" [disabled]="isLoading">
            <ng-container >
              {{ params.controls['id'].value ? 'Update' : 'Add' }}
            </ng-container>
 
          </button>
        </div>
      </form>
    </ng-template>
  </ngx-custom-modal>
</div>


<div
  *ngIf="isLoading"
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-[9999]"
>
  <div
    class="spinner-border animate-spin inline-block w-16 h-16 border-4 border-t-4 border-white rounded-full"
    role="status"
  >
    <span class="visually-hidden">*🤒*</span>
  </div>
</div>